
.profile {
    flex-direction: column;
    display: flex;
    width: 250px;
    margin: 0 auto 40px auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
    overflow: hidden;

}



.profileContainer{
    padding: 15px;

}

.profileImg {
    width: 120px;
    border-radius: 100%;
    background-color: rgb(41, 41, 41);


}

.profileName {
    margin-top: 16px;
    font-weight: 600;
color: black;

font-size: 24px;
    
}

.profileTag {
    margin-bottom: 4px;
    color: rgb(146, 146, 146);
    
}

.profileLocation {
    color: rgb(146, 146, 146);
    
}

.profileList {
    display: flex;
    padding: 0;
    margin: 0;
    overflow: hidden;
    
}


.profileItem {
    border-top: 1px solid rgb(107, 107, 107);
    border-left: 1px solid rgb(107, 107, 107);
    border-right: 1px solid rgb(107, 107, 107);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(146, 146, 146);
    
    
}

.spanItem {
    font-weight: 600;
    
}