.list{
    display: flex;
    column-gap: 12px;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.item{
    display: flex;
    width: 80px;
    padding: 12px 8px;
    gap: 8px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    box-sizing: border-box;
}
.itemName{
    font-weight: 500;
}
